<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <title><%=title%></title>
</head>
<body style="padding-top: 70px">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">Hulton Hotel Management</a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/myaccount">My Account<span class="sr-only">(current)</span></a></li>
                <li><a href="/hotels">hotels</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<% hotelList = JSON.parse(hotelListing);%>
<div class="container-fluid">
    <div class="row">
      <% hotelList.forEach(function(hotel, index) { %>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active" style="padding-bottom:20px;">
                  Hotel (Id <%= hotel['HotelID']%>)
                  <button style="float:right;" type="button" onclick="location.href='rooms/<%=hotel['HotelID']%>'" data-hotel-id="<%=hotel['HotelID']%>" class="btn btn-default">View rooms!</button>
                </li>
                <li class="list-group-item "><%= hotel['City'] %>, <%= hotel['State'] %> - <%= hotel['Street'] %> <%= hotel['ZIP'] %> <%= hotel['Country'] %></li>
                <li class="list-group-item">Phone: <%= hotel['Phone_no']%></li>
                <li class="list-group-item"><b>Amenities</b>
                    <ul class="list-group">
                        <li class="list-group-item">Breakfasts Offered:
                          <% if(hotel['Breakfasts'].length == 0){ %>
                          No breakfasts offered.
                          <% } %>
                          <ul>
                            <% hotel['Breakfasts'].forEach(function(breakfast, index) { %>
                              <li>
                                <%= breakfast['bType'] %> - <%= breakfast['Description'] %> ($<%= breakfast['bPrice'] %>)
                                <ul>
                                  <% breakfast['Reviews'].forEach(function(review) { %>
                                    <li style="list-style: none;"> <%= review['Rating']%>/10 <%= review['TextComment']%> </li>
                                  <% }); %>
                                </ul>
                              </li>
                            <% }); %>
                          </ul>
                        </li>
                        <li class="list-group-item">Services Offered:
                          <% if(hotel['Services'].length == 0){ %>
                          No services offered.
                          <% } %>
                          <ul>
                            <% hotel['Services'].forEach(function(service, index) { %>
                              <li><%= service['sType'] %> ($<%= service['sCost'] %>)</li>
                              <ul>
                                <% service['Reviews'].forEach(function(review) { %>
                                  <li style="list-style: none;"> <%= review['Rating']%>/10 <%= review['TextComment']%> </li>
                                <% }); %>
                              </ul>
                            <% }); %>
                          </ul>
                        </li>
                    </ul></li>
            </ul>
        </div>
        <% }); %>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/javascripts/hotels.js"></script>
</body>

</html>
