<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <title><%=title%></title>
</head>
<%user=JSON.parse(_user);%>
<%invoice=JSON.parse(_invoice);%>
<body style="padding-top: 70px">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">My Account Details:</li>
                <li class="list-group-item">Name: <%=user.name%></li>
                <li class="list-group-item">Email: <%=user.email%></li>
                <li class="list-group-item">Address: <%=user.address%></li>
                <li class="list-group-item">Phone Number: <%=user.phone%></li>
            </ul>
            <br>
            <a role="button" class="btn btn-info" data-target="#editInfoModal" data-toggle="modal" style="float:left">Edit Info</a>
            <a role="button" class="btn btn-info" data-target="#creditCardModal" data-toggle="modal" style="float:right">Add a Credit Card</a>
            <br>
            <br>
            <br>
            <div class="list-group"><a href="#" class="list-group-item active">
            	<h4 class="list-group-item-heading">Cards on File:</h4>
            </a>

            <% if(user.cc.length == 0){%>
            <h4>No Cards on File</h4>
            <% }; %>

            <ul class="list-group">
            <% if(user.cc.length > 0){user.cc.forEach(function(card, index) {%>
				<li class="list-group-item"><b>Card Number:</b> <%=user.cc[index].number%> | <b>Expiration Date:</b> <%=user.cc[index].date.substring(0,10)%></li>
			<% });}%>
			</ul>
        	</div>
        </div>

        <div class="col-md-8">
            <div class="list-group"><a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Room Reservations:</h4>
                </a>


                <% if(invoice.length == 0){ %>
                <h4>No Reservations</h4>
                <% }; %>

                <% if (invoice.length >0 ) {invoice.forEach(function(reservation, index) { %>
                <a class="list-group-item">
                    <ul class="list-group">
                        <li class="list-group-item active">Date of Reservation: <%=reservation.res_date%></li>
                        <li class="list-group-item "><h4>Rooms: </h4>
                            <%reservation.rooms.forEach(function (room) {%>
                            <ul class="list-group">
                                <li class="list-group-item">Room Number: <%=room.room_no%> <button id="roomReview" type="submit" class="btn btn-success" data-target="#reviewModal" data-toggle="modal" data-room='<%room.room_no%>' data-hotel='<%room.hotelid%>'>Review</button></li>
                                <li class="list-group-item"><h4>Hotel: <%=room.hotelid%> </h4></li>
                                <li class="list-group-item">Check In: <%=room.inDate%>  Check Out: <%=room.outDate%></li>
                            </ul>
                            <%});%>
                        </li>
                        <li class="list-group-item"> <h4>Services</h4>
                        <%reservation.services.forEach(function(service){%>
                        <ul class="list-group">
                            <li class="list-group-item">Service: <%=service.sType%> <button id="serviceReview" type="submit" class="btn btn-success">Review</button></li>
                        </ul>
                        <%});%>
                        </li>
                        <li class="list-group-item"> <h4>Breakfasts:</h4>
                            <%reservation.breakfasts.forEach(function(breakfast){%>
                            <ul class="list-group">
                                <li class="list-group-item">Breakfast: <%=breakfast.bType%> <button id="breakfastReview" type="submit" class="btn btn-success">Review</button></li>
                            </ul>
                            <%});%>
                        </li>

                        <li class="list-group-item ">Price: <%=reservation.amt%></li>
                        <li class="list-group-item">
                            Invoice num : <%=reservation.invoice_num%>
                        </li>

                    </ul>
                </a>
                <% });} %>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/" data_temp_dwid="1">Hulton Hotel Management</a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/myaccount">My Account<span class="sr-only">(current)</span></a></li>
                <li><a href="/hotels">Hotels</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li></li>
                <li class="dropdown">
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div id="creditCardModal" tabindex="-1" class="modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3 id="myModalLabel">Add a Credit Card</h3>
        </div>
            <form id="creditCardForm">
            <div class="modal-body">
          <h4>Fill out form to add a credit card to your account</h4>
          <div class="form-group">
          <input type="text" name="name" id="name" placeholder="Name On Card" class="form-control">
          </div>
          <div class="form-group">
          <input type="text" name="number" id="number" placeholder="Card Number" class="form-control">
          </div>
          <div class="form-group">
          <input type="text" name="code" id="code" placeholder="Security Code" class="form-control">
          </div>
          <div class="form-group">
          <input type="text" name="address" id="address" placeholder="Billing Address" class="form-control">
          </div>
          <div class="form-group" style="margin-left: 2px">
          <select name="cardType">
            <option value="">Select Card Type</option>
            <option value="Visa">Visa</option>
            <option value="American Express">American Express</option>
            <option value="MasterCard">Master Card</option>
            <option value="Discover">Discover</option>
          </select>
          </div>
          <div class="form-group" style="margin-left: 2px">
            Expiration Date: <br>
          <input type="date" name="expirationDate">
          </div>
          </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" onclick="document.querySelector('#creditCardForm').reset()" aria-hidden="true">Close</button>
          <button type="sumbit" class="btn btn-primary" form="creditCardForm">Submit</button>
        </div>
            </form>
          </div>
        </div>
    </div>

<div id="reviewModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="myModalLabel">Review: </h3>
            </div>
            <form id="reviewForm">
                <div class="modal-body">
                    <div class="form-group">
                        <input name="review" type="text" id="review" placeholder="Review" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" onclick="document.querySelector('#reviewForm').reset()" aria-hidden="true">Close</button>
                    <button type="sumbit" class="btn btn-primary" form="reviewForm">Submit</button>
                </div>
            </form>
        </div>

        </div>
      </div>

<div id="editInfoModal" tabindex="-1" class="modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3 id="myModalLabel">Edit Account Information</h3>
        </div>
            <form id="editInfoForm">
            <div class="modal-body">
          <h4>Fill out fields you want to update</h4>
          <div class="form-group">
          <input type="text" name="name" id="name" placeholder="Name" class="form-control">
          </div>
          <div class="form-group">
          <input type="text" name="address" id="address" placeholder="Address" class="form-control">
          </div>
          <div class="form-group">
          <input type="text" name="phone" id="phone" placeholder="Phone Number" class="form-control">
          </div>
          <div class="form-group">
          <input type="text" name="password" id="password" placeholder="Password" class="form-control">
          </div>
          </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" onclick="document.querySelector('#editInfoForm').reset()" aria-hidden="true">Close</button>
          <button type="sumbit" class="btn btn-primary" form="editInfoForm">Submit</button>
        </div>
            </form>
          </div>
        </div>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/javascripts/myaccount.js"></script>
</body>
</html>