<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <title><%=title%></title>
</head>
<body style="padding-top: 70px">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%=title%></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/myaccount">My Account<span class="sr-only">(current)</span></a></li>
          <li><a href="/hotels">Hotels</a></li>
        </ul>
      </div>
    </div>
  </nav>
<% roomList = JSON.parse(roomListing);%>
<% user = null;
    if (userString != undefined){
      user = JSON.parse(userString);
    }
%>
<div class="container">
  <div class="row">
    <button type="button" id="bCart" style="float:right" data-toggle="modal" data-target="#reserveModal" class="btn btn-primary">Cart</button>
    <br ><br>
  </div>
    <div class="row">
        <% roomList.forEach(function(room, index) { %>
          <div class="col-md-4">
              <ul class="list-group">
                  <li class="list-group-item active">Room <%= room['Room_no'] %> | <%=room['Type'] %> - Floor <%=room['Floor_no'] %>
                  <button class="btn btn-default bReserve" data-price='<%= room['Price'] %>' data-room='<%= room['Room_no'] %>' data-hotel='<%= room['HotelID'] %>' style="float:right;">Add room to cart</button>
                  <br />
                  <b>
                    $<%=room['Price'] %>
                    <% if (room['Price'] == room['Discount']){ %>
                      <i>(Discounted!)</i>
                    <% } %>
                  </b>
                  </li>
                  <li class="list-group-item ">
                  <i>For up to <%=room['Capacity'] %> residents</i>
                  <br />
                  <h4>-<%=room['Description'] %></h4>
                  </li>
                  <li class="list-group-item"> Reviews:
                      <% if(room['Reviews'].length == 0){ %>
                      No reviews yet!
                      <% } %>
                      <ul>
                        <% room['Reviews'].forEach(function(review, index) { %>
                          <li style="list-style:none"><%= review['Rating'] %>/10 <%= review['TextComment'] %></li>
                        <% }); %>
                      </ul>
                  </li>

              </ul>
          </div>
        <% }); %>
    </div>
    <div id="reserveModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Make a reservation</h3>
        </div>
        <form action="rooms/reserve" target="_blank" method="post" id="reservationForm">
          <div class="modal-body">
            <h4>Please select a reservation period, breakfast, and service quantity.</h4>
            <div id="cartRoom" class="form-group">
            </div>
            <div class="form-group">
              <div id="cartBreakfasts" class="form-group">
              </div>
            </div>
            <div class="form-group">
              <div id="cartServices" class="form-group">
              </div>
            </div>
       	    <div class="form-group" id="ccList">
            </div>
      	    <div id='reservationPrice'>
            <h4>Final Price: $<span id="price"></span></h4>
            <input name="price" type="hidden" id="hidden-price" value=0 />
            </div>
            <% if (user != null){ %>
              <input name="userEmail" type="hidden" id="userEmail" value="<%= user.email %>" />
            <% } %>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" onclick="document.querySelector('#reservationForm').reset()" aria-hidden="true">Close</button>
            <button type="sumbit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
$('body').on("click hover blur change",".sdate, .edate", function(){
  var room = $(this).closest(".roomEntry");
  var firstDate;
  var secondDate;
  if($(this).hasClass('sdate')){
    firstDate = $(this).val();
    secondDate = room.find('.edate').val();
  }
  else{
    secondDate = $(this).val();
    firstDate = room.find('.sdate').val();
  }
  var reservedWarning = room.find('.warning');
  if(firstDate != "" && secondDate != ""){
    var h = room.attr('data-hotelid');
    var r = room.attr('data-roomid');
    $.post( 'rooms/findReservations/', {hotelid: h, roomno: r}, function(roomReservations) {
      var reserves = JSON.parse(roomReservations);
      reserves.forEach(function(reservation){
        //if overlap
        reservedWarning.css('visibility', 'hidden');
        console.log(reservation['inDate'] <= secondDate);
        console.log(reservation['outDate'] >= firstDate);
        if(reservation['inDate'] <= secondDate && reservation['outDate'] >= firstDate ){
          reservedWarning.css('visibility', 'visible');
        }
      });
    });
  }
});

$(function(){
  updateCart();

  //if we are logged in
  if($('#userEmail').length == 0 ){
      $('#bCart').attr('disabled', 'disabled');
      $('#bCart').text('Please log in to use the cart');
  }

  //get cc list
  <% if (user) { %>
    $.post( 'rooms/cclist/' + '<%= user.email %>', function(cclisting) {
         var cclist = JSON.parse(cclisting);
         $('#ccList').append('<b>Choose a card:</b><br/><select name="credit" id="credit" class="form-control">');
         cclist.forEach(function(card){
            $('#credit').append('<option value=' + card['Cnumber'] + '>' + card['Type'] + ' - ' + card['Cnumber'] + '</option>');
         });
         $('#credit').append('</select><div class="clearfix"></div>');
         $('#credit').append('<input type="hidden" name="CID" value="' + cclist[0]['CID'] + '" />');
    });
  <% } %>
});
function setCartCookie(value) {
    document.cookie = "cartcookie=|" + value + ";";
    updateCart();
}

function removeCartCookie(value){
  var location = getCartCookie().indexOf(value);
  if(location != -1){
    document.cookie = "cartcookie=" + getCartCookie().replace("|" + value,"");
  }
  updateCart();
}

function appendCartCookie(value) {
   if(getCartCookie().indexOf(value) == -1){
     document.cookie = "cartcookie=" + getCartCookie() + "|" + value + ';';
   }
   updateCart();
}

function getCartCookie() {
    var name = "cartcookie=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function updateCart(){
  //update room list
  var rooms = getCartCookie().split('|');
  $('#cartRoom').empty();
  rooms.forEach(function(room, index){
    if(index == 0){
    return;
    }
    var r = room.split(',');
    /*$('#cartRoom').append('<div class="form-group roomEntry" data-price=' + r[2] + '><b>Room ' + r[1] + ' in Hotel ' + r[0] +
    '<button class="btn btn-link delRoom" style="float:right;font-size:20px" data-remove=' + room + ' type="button">×</button></b>' +
    '<br/><div class="col-md-5">Start Date<br/><input type="date" name="sdate|' + r[1] + '|' + r[0] + '" class="sdate col-md-4 form-control" /></div>' +
    '<div class="col-md-5">End Date<br/><input type="date" name="edate|' + r[1] + '|' + r[0] + '" class="edate form-control" /></div>' +
    '</div><div class="clearfix"></div><hr/>');*/
    $('#cartRoom').append('<div class="form-group roomEntry" data-roomid='+r[1]+' data-hotelid='+r[0]+' data-price=' + r[2] + '><b>Room ' + r[1] + ' in Hotel ' + r[0] +
    '<button class="btn btn-link delRoom" style="float:right;font-size:20px" data-remove=' + room + ' type="button">×</button></b>' +
    '<span class="warning" style="visibility:hidden;color:red;float:right">This room is already reserved for this period!</span>' +
    '<br/><div class="col-md-5">Start Date<br/><input type="date" name="sdate" class="sdate col-md-4 form-control" /></div>' +
    '<div class="col-md-5">End Date<br/><input type="date" name="edate" class="edate form-control" /></div>' +
    '<input type="hidden" name="roomid" value="' + r[1] + '" />' +
    '<input type="hidden" name="hotelid" value="' + r[0] + '" />' +
    '</div><div class="clearfix"></div><hr/>');
  });

  //update breakfast list
  $('#cartBreakfasts').empty();
  $.post( 'rooms/breakfast/' + <%= roomList[0]['HotelID']%>, function(breakfasts) {
       var breakfastList = JSON.parse(breakfasts);
       $('#cartBreakfasts').append('<b>Breakfasts</b><br/>');
       breakfastList.forEach(function(breakfast){
          $('#cartBreakfasts').append('<div class="col-md-5"><i>' + breakfast['bType'] + '</i>' +
          ' $' + breakfast['bPrice'] + ' <input name= ' + breakfast['bType'] + ' data-price=' + breakfast['bPrice']  + ' type="number" placeholder=" quantity" class="form-control bQuant" /></div>');
       });
       $('#cartBreakfasts').append('<div class="clearfix"></div>');
  });

  //update cart services
  $('#cartServices').empty();
  $.post( 'rooms/services/' + <%= roomList[0]['HotelID']%>, function(services) {
       var serviceList = JSON.parse(services);
       $('#cartServices').append('<b>Services</b><br/>');
       serviceList.forEach(function(service){
          $('#cartServices').append('<div class="col-md-5"><i>' + service['sType'] + '</i>' +
          ' $' + service['sCost'] + '<input name= ' + service['sType'] + ' data-price=' + service['sCost']  + ' type="number" placeholder=" quantity" class="form-control sQuant" /></div>');
       });
       $('#cartServices').append('<div class="clearfix"></div>');
  });

  //update credit card list
  updatePrice();
}

function updatePrice(){
  //update final price
  var price = 0;
  $('.sQuant').each(function(){
    price += Number($(this).attr('data-price')) * ($(this).val() || 0);
  });
  $('.bQuant').each(function(){
    price += Number($(this).attr('data-price')) * ($(this).val() || 0);
  });

  $('.roomEntry').each(function(){
    if($(this).find('.sdate').val() != "" && $(this).find('.edate').val() != ""){
      var sDateString = $(this).find('.sdate').val().split('-');
      var sDate = new Date(sDateString[1] + '/' + sDateString[2] + '/' + sDateString[0]);
      var eDateString = $(this).find('.edate').val().split('-');
      var eDate = new Date(eDateString[1] + '/' + eDateString[2] + '/' + eDateString[0]);
      var days = Math.round((eDate-sDate)/(1000*60*60*24));
      price += Number(($(this).attr('data-price') * days));
    }
  });
  $('#price').val(price);
  $('#price').text(price);
  $('#hidden-price').val(price);
}

$('body').on("click",".sQuant, .bQuant, .sdate, .edate", function(){
  updatePrice();
});

$('body').on("click", ".delRoom", function(){
  removeCartCookie($(this).attr('data-remove'));
});

$('.bReserve').click(function(){
  var hotelID = $(this).attr('data-hotel');
  var roomID = $(this).attr('data-room');
  var price = $(this).attr('data-price');
  var cookie = getCartCookie();
  if(!cookie){
    setCartCookie(hotelID + ',' + roomID+ ',' + price);
  }
  else{
    appendCartCookie(hotelID + ',' + roomID+ ',' + price);
  }
});

</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/javascripts/rooms.js"></script>
</body>

</html>
